<%- include("partials/header.ejs") %>

<div class="container p-3 mt-2">
    <h2>Fill the form below:</h2>
    <form class="form-container row g-3 p-3 mt-4" method="POST" action="/predict-disease">
        <div class="col-md-6">
          <label for="Symptom-1" class="form-label">Symptom-1</label>
          <input type="text" class="form-control" name="symptoms[]" id="Symptom-1" required>
        </div>
        <div class="col-md-6">
          <label for="Symptom-2" class="form-label">Symptom-2</label>
          <input type="text" class="form-control" name="symptoms[]" id="Symptom-2" required>
        </div>
        <!-- Repeat similar blocks for other symptoms -->
        <div class="col-12 p-2 mb-1">
            <label for="Gender" class="form-label">Gender</label>
            <select name="gender" id="Gender" class="form-select">
                <option selected disabled>Select...</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="col-md-4">
          <label for="age" class="form-label">Year Of Birth</label>
          <input type="number" class="form-control" name="yearOfBirth" id="age" required>
        </div>
        <div class="col-12 p-2 mb-1">
            <button type="submit" class="btn btn-primary col-2">Submit Details</button>
        </div>
    </form>

    <% if(locals.diseases) { %>
      <h2 class="mt-4 p-2">Diagnosis Result:</h2>
      <ol class="list-group list-group-numbered">
        <% diseases.forEach((item) => { %>
          <li class="list-group-item"><%= item %></li>
        <% }) %>
      </ol>
    <% } %>
</div>



<%- include("partials/footer.ejs") %>
