<%- include("partials/header.ejs") %>

<div class="px-4 py-5 mb-5 text-center background" style="color: white;">
    <h1 class="display-5 fw-bold mt-5">MediConnect Health Companion</h1>
    <div class="col-lg-10 mx-auto mt-4">
      <p class="lead mb-4 intro">Introducing MediConnect Health Companion designed to revolutionize your well-being. Stay informed with real-time health news, promoting awareness and knowledge. The application's predictive capabilities empower you to take proactive measures by anticipating potential health issues. Seamlessly connect with specialized doctors, scheduling appointments tailored to your unique needs. The AI-powered chatbot is your instant guide, providing valuable information about your health. This comprehensive approach aims to transform your health journey, combining the latest information, predictive insights, personalized care, and instant guidance to empower you on your path to optimal well-being.</p>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/img-1.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Disease Prediction</h1>
        <p class="lead">Our advanced disease prediction feature harnesses the power of data analytics and medical expertise to provide you with insights into potential health risks. Input your symptoms, and let our intelligent algorithms analyze the data to give you early indications of potential diseases, empowering you to take proactive steps toward your well-being.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/predict-disease"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Explore</button></a>
        </div>
      </div>
    </div>
</div>
<hr>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Latest Health News</h1>
        <p class="lead">Stay informed with the most recent developments in the healthcare industry. Our platform curates the latest health news and articles from reputable sources, ensuring that you are up-to-date on relevant information that matters to you and your loved ones.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/news"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Explore</button></a>
        </div>
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/img-2.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
    </div>
</div>
<hr>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/img-3.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"> Doctor-Patient Interactions</h1>
        <p class="lead">Connect with healthcare professionals effortlessly. Schedule virtual consultations, ask questions, and receive personalized advice from certified doctors. Our platform facilitates seamless communication, enabling you to actively participate in your healthcare journey.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Explore</button></a>
        </div>
      </div>
    </div>
</div>
<hr>

<%- include("partials/footer.ejs") %>