.form-container {
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.201);
}

.news-container {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.137);
}

.newsImage {
    object-fit: cover;
    height: 200px;
}

.background {
    height: 88vh;
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro {
    line-height: 1.6;
    font-size: 1.4rem;
}

.login-signup-form {
    background-color: rgba(255, 255, 255, 0.861);
    width: 500px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.201);
}
